@page
@model FitComrade.Pages.Apparatuur.IndexModel
@{
    ViewData["Title"] = "Apparatuur";
}
<h3>Apparatuur</h3>

<body style="background-color: #ffb3b3;">


    <div class="container">
        <h1>Alleen de beste producten</h1>
        <p>Gratis verzending bij aankoop van 25 euro</p>

    </div>
</body>