@page
@model FitComrade.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Log in of schrijf in op FitComrade.</h1>
<body>
    <div>
        <a asp-page="RegisterAccount">Registreer</a>
        <a asp-page="LoginAccount">Log in</a>
    </div>
</body>

