@page
@model FitComrade.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Log in op FitComrade";
}
<div>
    <a asp-page="RegisterAccount">Registreer</a>
    <a asp-page="LoginAccount">Log in</a>
</div>
