@page
@model FitComrade.Pages.Supplementen.IndexModel
@{
    ViewData["Title"] = "Supplementen";
}
<h3>Supplementen</h3>

<body style="background-color:powderblue;">

    
    <div class="container">
        <h1>Alleen de beste producten</h1>
        <p>Gratis verzending bij aankoop van 25 euro</p>
    </div>
    <a asp-page="Voorraad">Check voorraad</a>
</body>

