@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom Comrade</h1>
    <p>FitComrade is het nieuwe fitness platform.</p>
</div>


