@page
@model FitComrade.Pages.Supplementen.IndexModel
@{
    ViewData["Title"] = "Supplementen";
}
<h1>Supplementen</h1>

<div class="container">
    <div class="responsive-banner">
    <a href="/People"></a> 
        <picture>
            <img src="/lib/Pictures/FitComrade logo wide.png"
                 style="width: 1280px; height: 720px; margin: 0px;">    
        </picture>
    </div>
</div>